  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="form-inputs">
    <%= f.error_notification %>
    <%= f.input :email, :required => true, :autofocus => true, :placeholder => "Valid email address" %>
    <%= f.input :password, :required => true, :placeholder => "Uber-secret password, 8 character min" %>
    <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true if devise_mapping.rememberable? %>
    <%= f.button :submit, "Sign in", :id => "#submit", :class => 'offset2 btn btn-large btn-danger' %>
  </div>
<% end %>