
<%= simple_form_for(resource, :url => registration_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
  <% f.object.lockers.build if resource.lockers.empty? %>
  <%= f.error_notification %>
  <%= f.input :username, :autofocus => true, :placeholder => "Letters and numbers only" %>
  <%= f.input :email, :required => true, :placeholder => "Valid email address" %>
  <%= f.input :password, :required => true, :placeholder => "Uber-secret password, 8 character min", :minimum => 8 %>
  <%= f.button :submit, 'Start stuffing your lockers!', :class => 'btn btn-large btn-danger', :id => 'sign_up_button' %>
  <%= link_to 'Sign In', new_user_session_path, :class => 'btn btn-large' %>
<% end %>

