<div class="jumbotron text-center">

  <h1><%= APP_NAME %></h1>
  <p class="lead">
    <h3>Create personalized wishlists of the gear you want.<br/></h3>
    <h3><i>Sign up in 15 seconds flat!</i></h3>
  </p>

  <div style="font-size: 1.4em; margin-top: 2em;">
    <%= render 'layouts/signup_form' %>
  </div>

  <div class="row-fluid marketing ">
    <div> <hr class="row sexy-line"> </div>
    <h1 class="text-center">Who <%= APP_NAME %> helps:</h1>

    <div class="span12">
      <div class="span6 text-left small-content-block">
        <h4>Group 1</h4>
        <p>
          Lorem Ipsum 
          <span class="benefit">Benefit goes here!</span>
        </p>
      </div>

      <div class="span6 text-left small-content-block">
        <h4>Group 2</h4>
        <p>Lorem Ipsum
        <span class="benefit">Benefit goes here</span>
        </p>
      </div>
    </div>

    <div class="span12">
      <div class="span6 text-left small-content-block">
        <h4>Group 3</h4>
        <p>Lorem Ipsum
        <span class="benefit">Benefit goes here</span>
        </p>
      </div>

      <div class="span6 text-left small-content-block">
        <h4>Group 4</h4>
        <p>Lorem Ipsum
        <span class="benefit">Benefit goes here</span>
        </p>
      </div>
    </div>

  </div>

<!--   
  <div class="row-fluid marketing text-center span12">
    <div> <hr class="row sexy-line"> </div>
    <h2>How does <%#= APP_NAME %> work?</h2>
  </div>
 -->
</div>

<div class="row-fluid text-center marketing">
  <%= link_to "#{signup_button_text}", "#", :class => "btn btn-danger btn-huge btn-bottom-signup" %>
</div>