<% provide(:title, "#{@search.keywords} books") %>

<h1 class="text-center"><%= "You asked for: #{@search.keywords}" %></h1>

<% if @products.empty? %>
  <h3 class="text-center">Sorry, we couldn't find any, but take a look at the most popular books:</h3>
  <% @products = Product.limit(10) %>
<% end %>

<div id="products-container" class="transitions-enabled centered clearfix">
  <% @products.each do |product| %>
    <div class='product-box shadow rounded'>
      <p>
        <a href="<%= product_path(product) %>">
          <%= image_tag(product.image_url, :class => 'img-polaroid img-fade', :width => 226, :title => product.name) %>
        </a>
      </p>
      <p style="font-size: 1.5em;" class="text-center"><%= link_to "#{product.name}", product_path(product), :title => product.name %></p>
    </div>
  <% end %>
</div>

<h2><%= link_to "Plenty more where that came from...", @more_url, target: "_blank" %></h2>