body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0px auto;
  min-width: 810px;
  padding-top: 35px;
}

/* Main marketing message and sign up button */
.jumbotron {
  padding-top: 50px;
  text-align: center;
  color: #333;
}
.jumbotron h1 {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 0.5em;
  color: #333;
}
.jumbotron h3 {
  color: #333;
  margin-top: 1em;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 44px;
}
.jumbotron form {
  width: 500px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.jumbotron input {
  width: 265px;
}
.jumbotron .btn-danger {
  width: 450px;
}
.jumbotron .btn-log-in {
  width: 360px;
  margin-left: 22px;
}
.jumbotron .control-label {
  font-size: 1.25em;
}
.in-or-out {
  margin-bottom: 20px;
  font-size: 1.5em;
}

/* Supporting marketing content */
.marketing {
  margin: 0;
}
.marketing p {
  font-size: 1.35em;
}
.marketing h3 {
  margin-top: 1em;
  margin-bottom: .5em;
  text-align: center;
}
.marketing p {
  margin-top: 28px;
  line-height: 1.5em;
}
.marketing h4 {
  text-align: center;
  font-size: 2.3em;
}
.marketing .small-content-block {
  margin-bottom: 1em;
  padding: 1em 2em 1em 1em;
  font-style: 1.25em;
}
.marketing .small-content-block .benefit {
  font-weight: bold;
  font-style: italic;
}
.btn-bottom-signup {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 400px;
  font-size: 30px;
  padding: 1em;
}

