// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin roundcorners($radius) {
  -moz-border-radius: $radius;    // firefox
  -webkit-border-radius: $radius; // safari/chrome
  /*border-radius: $radius;         // CSS3, works in IE9*/
}

.rounded { 
  @include roundcorners(2px);
}

@mixin shadow($color: #333333) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: 0px 1px 2px $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}

.shadow {
  @include shadow(#111111);
}
// jQuery Masonry style suggestions straight from the docs
#products-container {
  // width: 100%;
  min-width: 768px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.centered { margin: 0 auto; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.product-box {
  background-color: white;
  float: left;
  font-size: 12px;
  margin-bottom: 0px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 14px;
  padding: 10px;
  visibility: visible;
  width: 236px;
}
.product-box a {
  border-bottom: 0px;
}
.product-box a:hover { 
  border-bottom: 0px;
}
#product-description {
  padding-left: 40px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
#product-description li {
  margin-bottom: 1em;
  line-height: 1.3em;
}
#description-text {
  font-size: 1.5em;
  line-height: 1.5em;
}
#product-details {
  font-size: 1.3em;
}
#product-details h3 {
  margin-top: 0.75em;
}
#product-details p {
  margin-top: 1.25em;
}
#amazon-reviews {
  margin-top: 1em;
}
#amazon-reviews h2 {
  text-align: center;
}
#amazon-reviews iframe {
  width: 800px;
  height: 550px;
}
.img-fade {
  opacity: 0.85; 
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.img-fade:hover {
  opacity: 1;
}
.share-lock-bar {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;

  font-size: 3em;
}
#lock-section {
  width: 370px;
  display: inline-block;
} 
#top-lockit-dropdown {
  margin-left: 0;
}
#top-lockit-dropdown a.dropdown-toggle {
  width: 255px;
  padding: 1em;
  margin-bottom: 2em;
  font-size: 20px;
}
#top-lockit-dropdown ul.dropdown-menu {
  top: 48px;
  width: 300px;
  font-size: 20px;
}
#lockit-dropdown {
  position: relative;
  margin-left: -180px;
}
#new_vote {
  width: 150px;
  margin-top: -30px;
  left: 200px;
  position: relative;
}
.btn-buyit {
  position: relative;
}
.btn-buyit-huge {
  width: 300px;
  font-size: 1.5em;
  margin: 1em;
  padding: 1em;
}
.btn-tumblr-huge {
  width: 300px;
  font-size: 1.5em;
  margin: 1em;
  padding: 1em;
}
#new_email_share {
  width: 400px;
  margin: 0px auto;
}
#share-buttons {
  width: 375px;
  float: right;
}
.btn-lockit-huge {
  width: 250px;
  font-size: 1.5em;
  margin: 1em 1em 1.5em 1em;
  padding: 1em;
}
