// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_up_button {
  margin-left: 75px;
}
.profile-page-text {
  font-size: 1.5em;
  line-height: 1.5em;
}
.dataTables_scrollHead {
  margin-bottom: -20px;
}
#lockup-table-description {
  margin-top: 1em;
  line-height: 1.5em;
}
#DataTables_Table_0_wrapper {
  margin-top: 1.25em;
}
#DataTables_Table_0_length label select {
  width: 100px;
}
#DataTables_Table_0_length label {
  font-size: 1.4em;
}
#DataTables_Table_0_filter label {
  font-size: 1.4em;
}
#DataTables_Table_0_filter input {
  width: 300px;
  font-size: .9em;
  height: 1.4em;
}
.user-lockups-table {
  margin-top: 1.25em;
}
.user-lockups-table thead tr td {
  text-align: center;
  color: black;
  font-weight: bold;
  vertical-align: bottom;
}
.user-lockups-table.preview-column.sorting {
  padding-left: 10px;
}
.user-lockups-table .preview-column {
  width: 130px;
}
.user-lockups-table .preview-column img {
  width: 125px;
}
.user-lockups-table thead tr td:hover {
  cursor: row-resize;
  background-color: #eee;
  transition: background-color .25s ease-in-out;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
}
// .img-fade {
//  opacity: .85;
//  transition: opacity .25s ease-in-out;
//  -moz-transition: opacity .25s ease-in-out;
//  -webkit-transition: opacity .25s ease-in-out;
// }
// .img-fade:hover {
//   opacity: 1;
// }