<p>Welcome <%= @username %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :utm_medium => 'email', :utm_campaign => 'transactional_email', :utm_content => 'confirm_account', :utm_source => "{APP_NAME.downcase}") %></p>
