<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token, 
  :utm_medium => 'email', :utm_campaign => 'transactional_email', :utm_content => 'account_lock', :utm_source => "{APP_NAME.downcase}") %></p>
