<div class="row-fluid text-center marketing">
  <%= link_to "Back to products", { controller: "products", action: "index", random: true }, :class => "btn btn-success btn-huge btn-bottom-signup" %>
</div>