<%#= link_to "<i class='icon-dollar'></i>#{@product.price.to_i} - Visit Retailer".html_safe, buy_product_path(@product), :class => 'btn btn-buyit btn-buyit-huge', :target => "_blank" %>

<%= link_to "View on Amazon".html_safe, buy_product_path(@product), :class => "btn btn-success btn-huge btn-bottom-signup", :target => "_blank" %>