<% current_page = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
<% product_link = '<a href='"#{current_page}"'><strong>View it on "#{APP_NAME}"</strong></a>' %>

<a href="http://www.tumblr.com/share/photo?source=<%=u "#{@product.full_image_url}" %>&caption=<%= "I need this, I need this, oh baby, oh baby!  " "<strong>#{@product.name}</strong>" + "<br><br>" + 'Check it out on www.example.com: Discover cool gear...' + '<br><br> <a href='"#{current_page}"'><strong>View it on #{APP_NAME}</strong></a>' %>&clickthru=<%=u current_page %>" title="Share on Tumblr" class="btn btn-tumblr btn-tumblr-huge"><i class="icon-tumblr icon-white"></i> Share with Tumblr</a>