<a href="myModal" data-toggle="modal" data-target="#myModal" class="btn btn-email"><i class="icon-envelope"></i> Email it</a>

  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Fill this out, yo!</h3>
    </div>
    <div class="modal-body">
      <p>Just type an email address & message (don't worry, we already filled it out to make it easy for you) and you're good to go.</p>

      <%= render 'email_share_form' %>
    </div>
  </div>