<%= simple_form_for @email_share, :url => email_shares_path, :html => { :method => :post, :class => 'form-horizontal' } do |f| %> 
  <%= f.error_notification %>

    <%= f.hidden_field :name, :required => true, :value => "#{current_user.username}" %>
    <%= f.input :email, :label => "Recipient's email", :required => true, :class => "text-right", :autofocus => true %>
    <%= f.input :message, as: :text, :required => true %>
    <%= f.input :cool_stuff_antibot, :label => "Anti-spam (leave blank)", :placeholder => "Leave this blank!" %>

    <%= button_tag(type: 'submit', class: "btn btn-primary btn-large") do %>
      <i class="icon-envelope-alt" style="margin-right: 7px;"></i>&nbsp;SEND IT!
    <% end %>

    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
<% end %>
