<% if current_user %>

  <%= simple_form_for(@vote) do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :product_id, :value => @product.id %>

    <div class="btn-group">
      <%= button_tag(type: 'submit', name: "love_button", class: "btn btn-danger") do %>
        <i class="icon-heart"></i>&nbsp;Love it
      <% end %>

      <%= button_tag(type: 'submit', name: "hate_button", class: "btn") do %>
        <i class="icon-remove"></i>&nbsp;Hate it
      <% end %>
    </div>
  <% end %>

<% end %>




<% unless current_user %>
  <a href="userSignupModal" data-toggle="modal" data-target="#userSignupModal" class="btn btn-warning"><i class="icon-chevron-sign-up"></i> Love it</a>
  <a href="userSignupModal" data-toggle="modal" data-target="#userSignupModal" class="btn btn-warning"><i class="icon-chevron-sign-down"></i> Hate it</a>

    <div id="userSignupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="userSignupModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="userSignupModalLabel">Gotta sign up to get your <%= APP_NAME %> on!</h3>
      </div>
      <div class="modal-body">
        <%= render 'devise/shared/signup_form' %>
      </div>
    </div>
<% end %>


