<div class='product-box shadow rounded'>
  <p>
    <a href="<%= product_path(product) %>">
      <%= image_tag(product.image_url, :class => 'img-polaroid img-fade', :width => 226, title: product.name, alt: product.name ) %>
    </a>
  </p>
  <p style="font-size: 1.5em;" class="text-center"><%= link_to "#{product.name}", product_path(product), title: product.name, alt: product.name %></p>
  <% if can? :manage, Product %>
    <p class="text-right"><%= link_to "(x)", product_path(product), method: :delete, data: { confirm: "Are you sure?" } %></p>
  <% end %>
</div>
