<% if !@products.empty? %>

  <% @products.each do |p| %>
    <%# cache [ "product_box", p ] do %>
      <%= render partial: 'product_box', :locals => { :product => p } %>
    <%# end %>
  <% end %>

<% else %>
  
  <% @products = Product.all.order("sales_rank ASC").limit(50) %>
  <% @products.each do |p| %>
    <%# cache [ "product_box", p ] do %>
      <%= render partial: 'product_box', :locals => { :product => p } %>
    <%# end %>
  <% end %>

<% end %>