<div id="products-container" class="transitions-enabled centered clearfix">
  <% @related_products.each do |p| %>
    <%# if Rails.env.production? cache [ "product_box", p ] do %>
    <%= render partial: 'product_box', :locals => { :product => p } %>
    <%# end %>
  <% end %>
</div>