<% current_page = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
<% product_image = "url of the image#{@product.image_url}" %>
<% tags = "tags, go, here" %>

<%= link_to '<i class="icon-dollar"></i> Buy it'.html_safe, buy_product_path(@product), :class => 'btn btn-buyit', :target => "_blank" %>

<a href="http://www.tumblr.com/share/photo?source=<%=u product_image %>&caption=<%= "I need this, I need this, oh baby, oh baby!" " <strong>#{@product.name}</strong>" + "<br><br>" + "Check it out on www.example.com: Where Pinterest meets gear." + "<br><br>#{current_page}" %>&clickthru=<%=u current_page %>" title="Share on Tumblr" class="btn btn-tumblr"><i class="icon-tumblr icon-white"></i> Tumbl it</a>

<a href="//pinterest.com/pin/create/button/?url=<%=u current_page %>&media=<%= product_image %>&description=<%=u "I need this, I need this, oh baby, oh baby!" " <strong>#{@product.name}</strong>" + "<br><br>" + "Check it out on www.example.com: Where Pinterest meets gear." + "<br><br>#{current_page}" %>" data-pin-config="none" target="_blank" class="btn btn-pinterest"><i class="icon-pinterest icon-white"></i> Pin it</a>

<a href="http://twitter.com/share?url=<%= current_page %>&text=<%= "Will someone buy this for me? " + @product.name + " #{current_page} " %>&via=<%= "twitterhandlewithout@sign" %>&related=<%= "other, twitter, accounts" %>&hashtags=<%= tags %>" class="btn btn-twitter" target="_blank"><i class="icon-twitter"></i> Tweet it</a> 



<%# if current_user %>
  <%#= render 'email_share_button' %>
<%# end %>

<!-- Crazy Pinterest multi-image layout -->

<!-- <a href='javascript:void((function()%7Bvar%20e=document.createElement(&apos;script&apos;);e.setAttribute(&apos;type&apos;,&apos;text/javascript&apos;);e.setAttribute(&apos;charset&apos;,&apos;UTF-8&apos;);e.setAttribute(&apos;src&apos;,&apos;http://assets.pinterest.com/js/pinmarklet.js?r=&apos;+Math.random()*99999999);document.body.appendChild(e)%7D)());' class="btn btn-pinterest"><i class="icon-pinterest"></i> Pinterest</a> -->
