<div class="share-lock-bar row">

<div id="lock-section">
  <%= render 'lock_section' %>
  <%= render 'love_hate_buttons' %>
  <%= render 'buyit_button' %>

</div>

<div id="share-buttons" class="span7">
  <%= render 'share_buttons' %>
</div>

</div>

