<% if current_user %>
  <div class="btn-group" id="top-lockit-dropdown">
    <a class="btn btn-lockit dropdown-toggle" data-toggle="dropdown" href="" style="margin-top: 1.9em;"><i class="icon-lock"></i>&nbsp; Add to your lockers <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% current_user.lockers.each do |l| %>
        <li><%= link_to l.name, 
          { :controller => "lockups", 
            :action => "create",
            :locker_id => l.id, 
            :product_id => @product.id, 
            :user_id => current_user.id 
          },
            :method => :post %>
        </li>
      <% end %>
      <li class="divider"></li>
      <li><%= link_to "New Locker", new_locker_path %></a></li>
    </ul>
  </div><!-- /btn-group -->
<% else %>
  <a href="userSignupModal" data-toggle="modal" data-target="#userSignupModal" class="btn btn-lockit btn-lockit-huge" ><i class="icon-lock"></i> Add to your lockers</a>
<% end %>