<%= provide(:title, "Popular Programming Books") %>
<%= provide(:description, "#{APP_NAME} helps you find the most popular, useful programming books for any language.") %>

<h1 class="text-center">Look what the cat dragged in...<h1>
<h4 class="text-center" style="color: #666;">Here's a small taste of books about web development, programming, startups, and most anything hacker-related. Browse around, what you check out &amp; click helps tailor what you see. Curated tech books? Yes please!</h4>

<div id="products-container" class="transitions-enabled centered clearfix">
  <!-- Basically, cache everything. RAM is cheap, so make the site fly! -->
  <%# cache("product_box_view", :expires_in => 1.hours) do %>
    <%= render 'product_box_list' %>
  <%# end %>
</div>

<h3 class="text-center" style="margin-top: 1em;"><%= link_to "Gimmie some mo!", { controller: "products", action: "index", random: true } %></h3>
