<%= provide(:title, "#{@term}") %>

<h1 class="text-center"><%= link_to "#{@term}", products_path %></h1>


<div id="products-container" class="transitions-enabled centered clearfix">

  <% unless @products.empty? %>
    <% @products.each do |p| %>
      <%= render 'product_box', :locals => { :product => p } %>
    <% end %>
  <% else %>
    <p class="text-center">We ain't got nothing.</p>
  <% end %>

</div>

<h2 class="text-center"><%= link_to "Want more???", root_path %></h2>