<% provide(:title, "#{@product.name}") %>
<% provide(:description, "#{@meta_description}") %>

<% if can? :manage, Product %>
  <p>
    <%= link_to "Fetch", fetch_product_path(@product) %> |
    <%= link_to 'Edit', edit_product_path(@product) %> | 
    <%= link_to "Delete", product_path(@product), data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<h1 class="text-center" style="margin-bottom: .5em;"> <%= @product.name %> </h1>

<div class="row-fluid">
  <div id="product-image" class="span5 text-center">
    <a href='<%= buy_product_path(@product) %>' target="_blank", caption='<%= "Buy #{@product.name}" %>', title='<%= "Buy #{@product.name}" %>'>
    <%= image_tag(@product.image_url, :class => 'img-polaroid img-fade', :alt => "#{@product.name}") %>
    </a>

    <div id="product-details" class="text-left">
      <h3 class="text-center">Product Details:</h3>
      
      <p><b>ASIN: </b><%= @product.asin %></p>

      <% if @product.author %>
        <p><b>Author(s):</b> <%= @product.author %></p>
      <% end %>

      <% if @product.binding %>
        <p><b>Binding:</b> <%= @product.binding %></p>
      <% end %>

      <% if @product.ean %>
        <p><b>EAN:</b> <%= @product.ean %></p>
      <% end %>

      <% if @product.edition %>
        <%# TODO: figure out why ordinalize() isn't working %>
        <p><b>Edition:</b> <%= @product.edition %></p>
      <% end %>

      <% if @product.price.to_i > 0 %>
        <p>
          <b>Price:</b>  <%= number_to_currency(@product.price, precision: 2) %>
        </p>
      <% end %>

      <% if @product.isbn %>
        <p><b>ISBN:</b> <%= @product.isbn %></p>
      <% end %>

      <%#
        item_height: r.item_height,
        item_length: r.item_length,
        item_weight: r.item_weight,
        item_width: r.item_width,
      %>

      <% if @product.label %>
        <p><b>Label:</b> <%= @product.label %></p>
      <% end %>

      <% if @product.language %>
        <p><b>Language:</b> <%= @product.language %></p>
      <% end %>

      <% if @product.manufacturer %>
        <p><b>Manufacturer:</b> <%= @product.manufacturer %></p>
      <% end %>

      <% if @product.mpn %>
        <p><b>MPN:</b> <%= @product.mpn %></p>
      <% end %>

      <% if @product.page_count %>
        <p><b>Page Count:</b> <%= @product.page_count %></p>
      <% end %>

      <% if @product.part_number %>
        <p><b>Part #:</b> <%= @product.part_number %></p>
      <% end %>

      <% if @product.product_group %>
        <p><b>Category:</b> <%= @product.product_group %></p>
      <% end %>

      <% if @product.publication_date %>
        <p><b>Publication Date:</b> <%= @product.publication_date %></p>
      <% end %>

      <% if @product.publisher %>
        <p><b>Publisher:</b> <%= @product.publisher %></p>
      <% end %>

      <% if @product.sku %>
        <p><b>SKU:</b> <%= @product.sku %></p>
      <% end %>

      <% if @product.studio %>
        <p><b>Studio:</b> <%= @product.studio %></p>
      <% end %>

      <% if @product.total_new %>
        <p><b>In Stock:</b> <span style="color: #009361;">Oh yeah!</span></p>
      <% end %>
    </div>
  </div>

  <div id="product-description" class="span7">
    <div>
      <%= link_to "View on Amazon".html_safe, buy_product_path(@product), :class => 'btn btn-buyit', style: "margin-bottom: 0em; width: 350px; font-size: 40px; padding: 1em;", :target => "_blank" %>
    </div>
    <div id="description-text" class="text-left", style="margin-top: 1em;">
      <%= @product.description.html_safe %>
    </div>
  </div>
</div>


<div class="text-center row-fluid">
  <%= render 'big_buy_button' %>
</div>

<div><hr class="sexy_line"></div>

<h2 class="text-center">You may also like:</h2>
<%= render 'related_products_list' %>

<div class="text-center row-fluid">
  <%= render 'big_buy_button' %>
</div>

<div id="amazon-reviews">
  <h2>Amazon Reviews</h2>
  <iframe src="<%= @amazon_reviews %>">
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>

<%= render 'products/back_to_products_button' %>

<% if can? :manage, Product %>
<p>
  <%= link_to "Fetch", fetch_product_path(@product) %> |
  <%= link_to 'Edit', edit_product_path(@product) %> | 
  <%= link_to "Delete", product_path(@product), data: { confirm: 'Are you sure?' } %>
</p>
<% end %>