 <li class="dropdown">
  <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Categories<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Category 1", "/wherever" %></li>
    <li><%= link_to "Category 2", "/wherever" %></li>
    <li><%= link_to "Category 3", "/wherever" %></li>
    <li><%= link_to "Category 4", "/wherever" %></li>
  </ul>
</li>