<div id='footer' class='text-center'>
  <hr class='sexy_line'>
  <p>Copyright <%= Time.now.year %> <%= link_to "#{APP_NAME}", '/' %></p>
<!--   <p>
    <a href="https://mixpanel.com/f/partner" target="_blank"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
  </p> -->
</div>
