<div id="login-signup">
  
  <div class='row-fluid'>
    <div class='span7'>
      <span class='tagline'><%= "#{APP_NAME} helps you discover cool stuff." %></span><br>
      <span class='call-to-action'>Sign up with now to store and share the stuff you like.</span>
    </div>
    
    <div class='span5 text-center'>
      <%= link_to "Join Now", new_user_registration_path, :class => 'btn btn-large btn-danger' %>
      <%= link_to 'Log In', new_user_session_path, :class => 'btn btn-large ' %>
    </div>

    <!-- Uncomment for Tumblr or future OAuth registration strategies -->
    <!-- <div class='span5 text-center'> -->
      <%#= link_to "Sign in with Tumblr", user_omniauth_authorize_path(:tumblr), :class => 'btn btn-large btn-tumblr' %>
    <!-- </div> -->
  </div>

</div>