<!-- A 'share on Tumblr' button used to live in the top navbar. Use this for whatever you want. -->

<ul class="nav tumblr-button">
<a href="http://www.tumblr.com/share/link?url=<%=u "http://www.example.com" %>&name=<%=u "#{APP_NAME} - #{APP_TITLE_DESCRIPTION}" %>&description=<%=u "#{APP_META_DESCRIPTION}" %>" title="Share on Tumblr" class="btn btn-tumblr"><i class="icon-tumblr icon-white"></i> Share on Tumblr</a>
</ul>