  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "#{APP_NAME}", root_path, :class => 'brand' %>
        <ul class="nav">
          <%#= render 'dropdown' %>
          <li><%#= link_to "Lookup", asin_lookup_path %></li>
          <%#= render 'asin_fill' %> 
        </ul>
        
        <%= render 'layouts/nav_search_form' %>

        <%# if current_user %>
<!--           <ul class="nav pull-right">
            <li><%#= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          </ul> -->
        <%# end %>
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->