
<%= simple_form_for(resource, :url => registration_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
  <% f.object.lockers.build if resource.lockers.empty? %>
  <%= f.error_notification %>
  <%= f.input :username, :autofocus => true, :placeholder => "Letters and numbers only" %>
  <%= f.input :email, :required => true, :placeholder => "Valid email address" %>
  <%= f.input :password, :required => true, :placeholder => "Uber-secret password, 8 character min" %>
  <%= f.button :submit, 'Start stuffing your lockers!', :id => "submit", :class => 'btn-danger btn-huge' %>
<% end %>

<p class='in-or-out'> - or - </p>

<%= link_to 'Log In', new_user_session_path, :class => 'btn btn-huge btn-log-in' %>