<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)).html_safe %></title>
  <meta name="description" content="<%= meta_description(yield(:description)).html_safe %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/ga_production' if Rails.env.production? %>
  <%= render 'layouts/ga_development' if !Rails.env.production? %>
  <%#= render 'layouts/uservoice' %>
</head>

<body>
  <%= render 'layouts/navbar' %>

  <% if current_page?(products_path) || 
    current_page?(lockers_path) || 
    current_page?(lockups_path) ||
    current_page?(root_path) 
  %>
    <div class="container-narrow">
  <% else %>
    <div class='container-narrow shadow rounded' style='width: 780px; border: 1px solid black; background-color: white; margin-top: 2em; padding: 2em;'>
  <% end %>

  <%= render 'layouts/messages' %>

  <%= yield %>

  </div> 

  <%= render 'layouts/footer' %>

</body>
</html>
